@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: rgb(158, 93, 18);
  background-color: rgb(74, 140, 187);
  font-family: "Roboto", sans-serif;
}

header {
  color: rgb(231, 235, 233);
}
p {
  color: rgb(32, 223, 105);
}
img {
  width: 10%;
  display: inline;
}

header img{display: inline-block;}
h1,
h2 {
  color: blueviolet;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-style: italic;
}

.titre {
  color: rgb(168, 71, 71);
}

.titre2 {
  border-bottom: 10px dashed rgb(25, 27, 24);
}
a {
  color: aqua;
  text-decoration: none;
}
a:visited {
  color: red;
  text-decoration: underline;
}
a:hover {
  color: antiquewhite;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: azure;
}
